In [5]:
number = int(input("Enter the number :" ))
if (number%3 ==0 and number %6 ==0):
    print("Number is divisible by 3 and 6")
else:
    print("Not divisible")

Enter the number :6
Number is divisible by 3 and 6

In [6]:
#Data types :
#Operators :
#Looping :
#modules : random, math

In [7]:
#Exceptions :

In [8]:
num1 = int(input("Enter first number :"))
num2 = int(input("Enter second number :"))
res = num1/ num2
print(res)

print("Hello world")

print("Welcome to python")

Enter first number :25
Enter second number :5
5.0
Hello world
Welcome to python

In [9]:
num1 = int(input("Enter first number :"))
num2 = int(input("Enter second number :"))
res = num1/ num2
print(res)

print("Hello world")

print("Welcome to python")

Enter first number :25
Enter second number :0

ZeroDivisionError: division by zero

In [10]:
ls[4]

 Volume in drive C has no label.
 Volume Serial Number is 722C-2754

 Directory of C:\Users\dell\Documents

File Not Found

In [11]:
ls =[25,26,27]
print("Hello world")

Hello world

In [12]:
ls[5]

IndexError: list index out of range

In [13]:
print(s)

NameError: name 's' is not defined

In [21]:
25+ "hello"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
try :
    25+ "hello"
except TypeError as e:
    print(e)
print("Welcome to python")

unsupported operand type(s) for +: 'int' and 'str'
Welcome to python

In [16]:
try :
    number%0
except ZeroDivisionError as a:
    print(a)
print("monu")

integer modulo by zero
monu

In [18]:
try :
     ls[5]
except IndexError as b:
    print(b)
print("monu")

list index out of range
monu

In [19]:
try :
    print(s)
except NameError as c:
    print(c)
print("monu")

name 's' is not defined
monu

In [22]:
print("monu")

monu

In [31]:
salary1 = {"Ctc - HRA 10%, DA 5%, PF 3% : "}
if ("salary subtract salary1"):
    print(salary)

10000

In [34]:
salary = int(input("salary :"))
deductions = int(input("Ctc - HRA 10%, DA 5%, PF 3% : "))
print(salary - deductions)

salary :10000
Ctc - HRA 10%, DA 5%, PF 3% : 2000
8000