In [1]:
#Write a program which states that number 3 & 6 is divisible

In [8]:
number = int(input("Enter the number :"))
if(number%3==0 and number %6==0):
    print("Number is divisible")
else:
    print("Not Divisible")

Enter the number :12
Number is divisible

In [27]:
num1 = int(input("Enter the first number :"))
num2 = int(input("Enter the second number :"))
num3 = int(input("Enter the third number :"))
if(num1 + num2 + num3 == 30):
    print("Megha")

Enter the first number :10
Enter the second number :10
Enter the third number :10
Megha

In [29]:
#from math import

In [32]:
x=156660
y=4999

print(x-y)

151661

In [33]:
#Exceptions

In [35]:
try :
    25+ hello
except typeerror as f:
    print(f)
else:
    print("Monu")

NameError: name 'typeerror' is not defined

In [36]:
ls ={20,23,24}
print("hello")

hello

In [37]:
ls[4]

TypeError: 'set' object is not subscriptable

In [40]:
try :
    ls[5]
except TypeError as q:
    print("q")
print("monu")

q
monu

In [45]:
try:
    ls[4]
except TypeError as c:
    print(c)
print("monu")

'set' object is not subscriptable
monu

In [1]:
#reverse the string

In [2]:
name= "Monu"
print(name)

Monu

In [5]:
name = "Monu"[::-1]
print(name)

unoM

In [12]:
name = "Monu"[-1:-4:-1]
print(name)

uno

In [16]:
name= "Manmohan"[-1:-4:-1]
print(name)

nah

In [8]:
def multiply(x,y):
    product= x*y
    return product

num= multiply(2,4)
print(num)

8

In [20]:
def greet(name):
    print(f"Hello Mr.{name}!")

In [21]:
greet("monu")

Hello Mr.monu!

In [28]:
word ="python"
index=0

while index< len(word):
    print(word[index])
    index= index +1

p
y
t
h
o
n

In [34]:
for n in range(3,9):
    print("python")

python
python
python
python
python
python

In [35]:
for n in range(10,20):
    print(n*n)

100
121
144
169
196
225
256
289
324
361

In [37]:
amount= float(input("Enter the number: "))
for num_people in range(2,6):
    print(f"{num_people} people: ${amount/num_people} each")

Enter the number: 10
2 people: $5.0 each
3 people: $3.3333333333333335 each
4 people: $2.5 each
5 people: $2.0 each

In [38]:
amount= int(input("ENter the number: "))
for n in range(2,10):
    print(f"{n}is : ${amount/n} each")

ENter the number: 10
2is : $5.0 each
3is : $3.3333333333333335 each
4is : $2.5 each
5is : $2.0 each
6is : $1.6666666666666667 each
7is : $1.4285714285714286 each
8is : $1.25 each
9is : $1.1111111111111112 each

In [39]:
num= int(input("Enter the number: "))
while num<=10:
    print(num)
    num= num+1

Enter the number: 2
2
3
4
5
6
7
8
9
10

In [41]:
for num in range(2,11):
    print(num)

2
3
4
5
6
7
8
9
10

In [44]:
def invest(amount,rates,years):
    for years in range(1,years+1):
        increase= amount*rates
        amount= amount+ rates
        print(f"year{years}: increase={increase:.2f},new amount={amount:.2f}")

In [47]:
invest(100,5,4)
print(invest)

year1: increase=500.00,new amount=105.00
year2: increase=525.00,new amount=110.00
year3: increase=550.00,new amount=115.00
year4: increase=575.00,new amount=120.00
<function invest at 0x000002685A852480>