In [1]:
#Exception handling with python

In [2]:
#Types of exceptions :
#Zerodivision error
#Type error
#Name Error
#IndentationError
#Attribute Error
#Flexnot founderror
#SyntaxError

#Keywords :
#Try
#Except
#Else
#Finally

In [4]:
num1 = int(input("Enter Firts numner :" ))
num2 = int(input("Enter second number :"))
result = num1 / num2
print(result)

Enter Firts numner :25
Enter second number :1
25.0

In [6]:
num1 = int(input("Enter Firts numner :" ))
num2 = int(input("Enter second number :"))
result = num1 / num2
print(result)

print("Welcome to python ")

name= "Python"

print(name)

Enter Firts numner :25
Enter second number :6
4.166666666666667
Welcome to python
Python

In [7]:
num1 = int(input("Enter Firts numner :" ))
num2 = int(input("Enter second number :"))
result = num1 / num2
print(result)

print("Welcome to python ")

name= "Python"

print(name)

Enter Firts numner :25
Enter second number :0

ZeroDivisionError: division by zero

In [8]:
print(t)

NameError: name 't' is not defined

In [9]:
if (x>y):
print("Welcome")

IndentationError: expected an indented block after 'if' statement on line 1 (4261662570.py, line 2)

In [12]:
try:
    num1 = int(input("Enter Firts numner :" ))
    num2 = int(input("Enter second number :"))
    
    result = num1 / num2
    print(result)

except ZeroDivisionError as e:
    print(e)
    
print("Welcome to python ")

name= "Python"

print(name)

Enter Firts numner :25
Enter second number :0
division by zero
Welcome to python
Python

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age :"))

name+age

In [ ]:
try:
    name = input("Enter your name: ")
    age = int(input("Enter your age :"))

    name + age
except TypeError as T:
    print(t)
print("Welcome")

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age :"))

name+age

In [18]:
name = input("Enter your name: ")
age = int(input("Enter your age :"))

name+age

Enter your name: monu
Enter your age :1

TypeError: can only concatenate str (not "int") to str

In [20]:
try:
    name = input("Enter your name: ")
    age = int(input("Enter your age :"))

    name+age
except TypeError as t:
    print(t)
    
print("Welcome")

Enter your name: monu
Enter your age :1
can only concatenate str (not "int") to str
Welcome

In [31]:
try:
    x=10
    y=11
    if (x>y):
    print("Welcome")
except IndentationError as i:
    print(i)

IndentationError: expected an indented block after 'if' statement on line 4 (4123371024.py, line 5)