In [1]:
#Write a program which states that number 3 & 6 is divisible

In [8]:
number = int(input("Enter the number :"))
if(number%3==0 and number %6==0):
    print("Number is divisible")
else:
    print("Not Divisible")

Enter the number :12
Number is divisible

In [27]:
num1 = int(input("Enter the first number :"))
num2 = int(input("Enter the second number :"))
num3 = int(input("Enter the third number :"))
if(num1 + num2 + num3 == 30):
    print("Megha")

Enter the first number :10
Enter the second number :10
Enter the third number :10
Megha

In [29]:
#from math import

In [32]:
x=156660
y=4999

print(x-y)

151661

In [33]:
#Exceptions

In [35]:
try :
    25+ hello
except typeerror as f:
    print(f)
else:
    print("Monu")

NameError: name 'typeerror' is not defined

In [36]:
ls ={20,23,24}
print("hello")

hello

In [37]:
ls[4]

TypeError: 'set' object is not subscriptable

In [40]:
try :
    ls[5]
except TypeError as q:
    print("q")
print("monu")

q
monu

In [45]:
try:
    ls[4]
except TypeError as c:
    print(c)
print("monu")

'set' object is not subscriptable
monu